<div class="container">
  <h3>
    Comment List <a routerLink='/comment/create' class="btn btn-outline-primary float-right"> + Add Comment</a>
  </h3>        
  <div class="table-responsive">
    <table class="table table-dark table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Body</th>
          <th>Post</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments">
          <td>{{ comment.id }}</td>
          <td>{{ comment.body }}</td>
          <td>{{ comment.post.title }}</td>
          <td><a [routerLink]="['/comment/update', comment.id]" class="btn btn-outline-secondary btn-xs">UPDATE</a></td>
          <td><a (click)="deleteComment(comment.id)" class="btn btn-outline-danger btn-xs">DELETE</a></td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>